{% load static from staticfiles %}
{% static "blog/styles.css" as styles %}
{% static "blog/profile_75.jpg" as profile %}
{% static "blog/climbing.jpg" as climbing %}

<!DOCTYPE html>
<!--Welcome to my code.-->
<html lang="en">
	<head>
		<title>About Me</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="{{styles}}"/>
	</head>
	<body>
		<div>
			<h1>Welcome!</h1>
			<h2>Thank you for checking out my resume.</h2>
			<h3>Right now it is {{now}}.</h3>
			<p id="little"><a href=".">&lt;-- Back</a></p>
			<img height="153" width="230" alt="profile" src="{{profile}}" />
			<p class="bio">
				Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
			</p>
			<div class="column">
				<div class="super-item work">
					<h3>Relevant Work Experience</h3>
					<div class="sub-item">
						<h4>QA and Development Intern</h4>
						<div class="info">
							ContractPal | Lindon, UT<br/>
							October 2017 - Present
						</div>
						<div class="data">
							My primary responsibilities include:
							<ul>
								<li>Manually test web applications to find bugs before clients and customers</li>
								<li>Design and write automation scripts for regression testing</li>
								<li>Determine customer priorities and requirements, then deliver them to the developer for development</li>
								<li>Make minor UI and workflow changes</li>
								<li>Manage datasets</li>
								<li>Reproduce and isolate bugs so the developer can easily pinpoint how to fix them</li>
							</ul>
						</div>
					</div>
					<div class="sub-item">
						<h4>QA Intern</h4>
						<div class="info">
							ContractPal | Lindon, UT<br/>
							Aug 2013 - Oct 2015
						</div>
						<div class="data">
							Learned basic HTML/CSS/JavaScript in a model-view-controller framework. Wrote unit tests for and web applications on a Java based JS-syntax platform.
						</div>
					</div>
					<h3>Unrelated Work Experience</h3>
					<div class="sub-item">
						<h4>Piano Teacher</h4>
						<div class="info">
							Self-employed | Spanish Fork, UT<br/>
							2012-2014
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="super-item education">
					<h3>Education</h3>
					<div class="sub-item">
						<h4><a href="https://www.usu.edu" target="_blank">Utah State University</a></h4>
						<div class="info">
							Computer Science<br/>
							2014 - 2015, 2017 - Present
						</div>
						<div class="data">
							Classes of interest:
							<br/>
							<ul>
								<li>CS1400 - CS1</li>
								<li>CS1410 - CS2</li>
								<li>CS1440 - Methods in CS</li>
								<li>CS2410 - Intro to Event Driven Programming and GUIs</li>
								<li>CS2420 - Algorithms and Data Structures</li>
								<li>CS2810 - Computer Systems Organization and Architecture</li>
								<li>ITLS5265 - Internet Development</li>
								<li>MATH1220 - Calculus II</li>
								<li>MATH2270 - Linear Algebra</li>
								<li>MATH3310 - Discrete Math</li>
							</ul>
							Cumulative GPA: 3.85
						</div>
					</div>
				</div>
				<div class="super-item skills">
					<h3>Technical Skills</h3>
					<div class="sub-item">
						<ul>
							<li>Proficient in Java</li>
							<li>Basic to Intermediate HTML/CSS/JavaScript</li>
							<li>Basic Python</li>
							<li>Beginner XPath, SQL</li>
						</ul>
					</div>
					<h3>Personal Skills</h3>
					<div class="sub-item">
						<h4>Communication</h4>
						<h4>Self-Motivation</h4>
					</div>
				</div>
			</div>
			<div>
				<p>I also like climbing! <br/>
				<img width="240" height="240" alt="climbing" src="{{climbing}}"/>
			</div>
		</div>
	</body>
	<!--this is another comment-->
</html>