{% load static from staticfiles %}
{% static "blog/styles.css" as styles %}

<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="utf-8" />
	<title>Seth's resume</title>
	<link rel="stylesheet" href="{{styles}}" />
</head>

<body>
	<div>
		<a href="../../blogHome">&lt;-- Back</a>
		<h1>{{blog.title}}</h1>
		<h2>By {{blog.author}}</h2>
		<p>{{blog.content}}</p>
		<p class="info">{{blog.posted_date}}</p>
	</div>
	<div>
		<form action="{% url 'blog:comment' blog.id %}" method="post">
			<label for="title">Title: </label><input type="text" name="title" id="title" maxlength="200"/><br/>
			<label for="email">Email: </label><input type="email" name="email" id="email"/><br/>
			<label for="author">Nickname: </label><input type="text" name="author" id="author" maxlength="200"/><br/>
			<textarea name="content" maxlength="10000"></textarea><br/>
			<input type="submit" value="Comment" />
			{% csrf_token %}
		</form>
	</div>

	<div>
		{% for comment in comments %}
		<div class="comment">
			<h4>{{comment.title}}</h4>
			<p><i>By {{comment.author}}</i><span class="right">, {{comment.posted_date}}</span></p>
			<p>{{comment.content}}</p>
		</div>
		{% endfor %}
	</div>
</body>

</html>