{% load static from staticfiles %}
{% static "blog/styles.css" as styles %}

<!DOCTYPE html>
<!--Welcome to my code.-->
<html lang="zxx">

<head>
    <meta charset="utf-8" />
    <title>Blog Home</title>
    <link rel="stylesheet" href="{{styles}}" />
</head>

<body>
    <div>
        <h2>Blog Home</h2>
        <p><a href="blogArchive">Blog Archive</a></p>
        <p><a href=".">Index</a></p>
        {% for blog in blogs %}
        <div class="blog">
            <h2><a href="blog/{{blog.id}}/">{{blog.title}}</a></h2>
            <h3>By {{blog.author}}</h3>
            <p>{{blog.content | truncatewords:200 }}</p>
            <p class="info">{{blog.posted_date}}</p>
            <p>{{blog.comments}} Comments</p>
        </div>
        {% endfor %}
    </div>
</body>
<!--this is another comment-->

</html>