{% load static from staticfiles %}
{% static "blog/styles.css" as styles %}

<!DOCTYPE html>
<!--Welcome to my code.-->
<html lang="en">
	<head>
		<title>Tech Tips</title>
		<link rel="stylesheet" href="{{styles}}"/>
			<meta charset="utf-8"/>
	</head>
	<body>
		<div>
			<h2>Thank you for checking out my tech tips.</h2>
			<h3>Right now it is {{now}}.</h3>
			<p id="little"><a href=".">&lt;-- Back</a></p>
			
			<table>
				<thead>
					<tr>
						<td>Command name</td>
						<td>Description</td>
						<td>Example</td>
					</tr>
					<tr>
						<td>commit</td>
						<td>Writes changes to the repo.</td>
						<td><code>git commit -m "This is my first commit"</code></td>
					</tr>
				</thead>
			</table>
		</div>
	</body>
	<!--this is another comment-->
</html>