td, tr, table {
	border: 1px solid black;
	border-collapse:collapse;
	padding:5px;
}
.sub-item {
	border:2px solid gray;
	background-color:#eeeeee;
	color:#666666;
	border-radius:3px;
	padding:10px;
	padding-right:15px;
}
h3{
	color:#FF7F00;
	font-family:Verdana;
	font-style:oblique;
}
* {
				box-sizing: border-box;
			}
		
			.body {
				background-color:#505050;
			}

			h1, h2{
				color:#eeeeee;
				font-family:'Share Tech Mono';
				text-align:center;
			}

			h3{
				color:#75a9d1;
				font-family:'Share Tech Mono';
				padding-left:10px;
			}

			h4 {
				color:#aa9e66;
				margin:5px;
				display:inline-block;
			}
			
			td, tr, table {
				border: 1px solid black;
				border-collapse:collapse;
				padding:5px;
			}

			ul{
				margin:3px 8px 0px -12px;
				list-style-type: square;
			}
			
			li{
				margin-left:-10px;
			}
			
			.super-item {
				vertical-align:top;
				display:inline-block;
				width:31%;
				margin:10px;
				padding:5px;
			}

			.sub-item {
				border:2px solid #75a9d1;
				background-color:#eeeeee;
				color:#666666;
				border-radius:3px;
				padding:10px;
				padding-right:15px;
				font-family:B612 Mono;
				font-size:.8em;
				margin:5px 0px;
				display:inline-block;
				width:100%;
			}

			.sub-sub-item {
				width:32%;
				height:125px;
				vertical-align:top;
			}
			
			.header {
				color:#aa9e66;
				border-bottom:1px solid #75a9d1;
			}

			.info {
				font-family:Ubuntu Mono;
				display:inline-block;
				float:right;
				text-align:right;
			}

			.data {
				padding-top:10px;
			}
			
			.right {
				float:right;
			}
			
			@media screen and (max-width: 1400px) {
				.super-item {
					width:47%;
				}
			}
			@media screen and (max-width: 992px) {
				.super-item {
					width:97%;
				}
			}